 <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default  resumen-canasta">
            <div class="panel-heading">
              <h2>Fecha de Entrega</h2>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <p>Seleccione una fecha para realizar la entrega de su pedido.</p>
              <div class="row">
                <div class="col-xs-6">
                <a class="btn btn-primary btn-lg pull-left" >Fecha Ant..</a>
              </div>
                <div class="col-xs-6"><a class="btn btn-danger btn-lg pull-right" >Fecha Sig..</a></div>
                <hr class="col-xs-12">

                <div class="panel panel-default dia" ng-repeat='item in listaTiempos' ng-init='indexParent=$index'>
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ item.encabezado }}</h3>
                  </div>
                  <div class="panel-body">
                      <div class="radio radio-success" ng-repeat='h in item.horas' style='text-align:left;'>
                          <input type="radio" name="radio2" ng-attr-id="radio{{indexParent}}{{$index}}" ng-checked='h.chequeado' value="option1" ng-disabled='!h.mostrar' ng-click='seleccionar_tiempo($event,e.id,h)'/>
                          <label ng-attr-for="radio{{indexParent}}{{$index}}" style='font-size:11px;'>{{h.estimado}}</label>
                      </div>                      
                  </div>
                </div>

               
              </div>
              <hr>
              <p>
                <a class="btn btn-primary btn-lg pull-left" onclick='window.history.back()'>Atras</a>
                <a class="btn btn-danger btn-lg pull-right" ng-controller='OrdenServicioController' ng-click='crear_ordenservicio()'>Pon tu orden aquí</a>
              </p>
            </div>
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
      </div>
       <ng-include src="'app/views/layouts/footer.html'"></ng-include>
    </div>

   <div class="modal fade" id="modalTiempos">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Mensaje</h4>
          </div>
          <div class="modal-body">
            <h4>{{ mensaje }}</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>       
      </div>      
    </div>
   